{ font-family: Calibri, Sans-serif; outline: none;}
body, html { margin: 0; padding: 0;}
#menus {width: 778px; height: 26px; padding:0; margin: 0px 0px 2px 0px;}
#canvas {width: 680px; height: 540px; border:2px solid #009080; background: url(img/background.gif); overflow: hidden; clear: both; display: block; z-index: -1;}
input { background: white; border: 1px solid black; border-radius: 4px; padding: 3px 5px;}
input[type=text] { padding: 5px;}
button { padding: 6px 10px; color: rgb(255, 255, 255); background: rgb(0,90,80); border: 2px solid rgb(255, 204, 0); border-radius: 4px;}
button:hover, button.hover { background: rgba(0, 0, 0, 0.2);}
button:active, button.active { background: rgba(0, 0, 0, 0.4);}

ul#mainmenu {list-style: none; padding: 2px; float: left; background: rgb(0,90,80); font-size: 3px;}
ul#mainmenu li { float: left; margin: 0; padding: 0 2px 0 0; position: relative;}
ul#mainmenu li button {margin-right:4px; float: left;}
ul#mainmenu li ul.submenu { list-style: none; position: absolute; left: -2px; top: 34px; background: rgb(0,90,80); margin: 0; padding: 0; display: none; float: left; width: 170px; border-radius: 0 0 4px 4px;}
ul#mainmenu li ul.submenu li { margin: 0; padding: 0; clear: both; width: 170px;}
ul#mainmenu li ul.submenu li button {width: 162px; text-align: left; margin: 4px; padding-left: 20px;}
ul#mainmenu li ul.submenu li button:hover { background: rgba(0, 0, 0, 0.2);}
ul#mainmenu li ul.submenu li button:active { background: rgba(0, 0, 0, 0.4);}
ul#mainmenu li ul.submenu li hr { margin: 4px; border-top: 1px solid rgba(0, 0, 0, 0.4); border-bottom: 1px solid rgb(205, 205, 205);}

ul#mainmenu li #button-undo{background: rgb(0,90,80); width: 40px; padding: 0;}
ul#mainmenu li #button-redo{background: rgb(0,90,80); width: 40px; padding: 0;}
ul#mainmenu li #button-layerflipv{background: rgb(0,90,80); padding: 0;}
ul#mainmenu li #button-layerfliph{background: rgb(0,90,80); padding: 0;}
ul#mainmenu li #button-filterbrightness-incr{background: rgb(0,90,80); padding: 0;}
ul#mainmenu li #button-filterbrightness-decr{background: rgb(0,90,80); padding: 0;}
ul#mainmenu li button img{width: 32px; height: 26px;}
 
div#overlay { background: rgba(0, 0, 0, 0.2); position: fixed; width: 1110px; height: 600px; top: 38px; left: 5px; z-index: 1; display: none;}
 
ul#layers {width: 232px; position: fixed; right: 0; top: 43px; background: rgb(0,90,80); border-top: 1px dotted rgb(100, 100, 100); list-style: none; margin: 0; padding: 0 5px 5px; overflow-y: auto; overflow-x: hidden;}
ul#layers li { margin-top: 5px; padding: 5px; background: rgb(180, 180, 180); border-radius: 4px;}
ul#layers li.active { background: rgb(160, 160, 160); padding: 3px; border: 2px dotted black;}
ul#layers li img { width: 42px; height: 42px; float: left; padding: 2px; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0.3); border: 1px solid rgb(255, 204, 0); border-radius: 4px;}
ul#layers li h1 { font-size: 16px; padding: 0 5px; margin: 3px 0; width: 132px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
ul#layers li span { padding: 0 5px; margin: 3px 0; width: 132px;}
ul#layers li span button { padding: 3px 5px; margin: 0 3px 0 0;}
 
button#button-move, #button-select, #button-text { background-repeat: no-repeat; background-position: 50% 50%; padding: 6px 15px;}
button#button-move { background-image: url(img/move.gif);}
button#button-text { background-image: url(img/text.gif);}
button#button-openfile input, button#button-importfile input { position: relative; left: -23px; top: -8px; width: 162px; opacity: 0;}
 
div#dialog-tooltext select { padding: 4px; width: 173px; color: rgb(0, 0, 0); border: 1px solid rgb(40, 40, 40); border-radius: 4px;}
 
div.dialog { border: 1px solid black; background: rgb(240, 240, 240); position: fixed; border-radius: 4px; z-index: 2; display: none; padding: 40px;}
 
div#cropoverlay { position: fixed; left: 0; top: 0; z-index: 2; background: rgba(255, 255, 255, 0.15); width: 120px; height: 120px; border: 1px dotted black; border-radius: 0; padding: 0; display: none;}
div#cropoverlay div { width: 20px; height: 20px; position: absolute; z-index: 1000; right: 0; bottom: 0;  border-top: 1px solid black;  border-left: 1px solid black;}

#dialog-filtercolorify input[type=range]{
    -webkit-appearance: none;
}

#dialog-filtercolorify input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #99FF33;
    border: none;
    border-radius: 3px;
}

#dialog-filtercolorify input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 13px;
    border-radius: 30%;
    background: #660033;
    margin-top: -8px;
}

#dialog-filtercolorify input[type=range]:focus {
    outline: none;
}

#dialog-filtercolorify input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFCC66;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }